/nbproject/*
nbproject/private/private.xml
Lib/phpexcel/
vendor/
batch/config/__pycache__/
batch/helpers/__pycache__/
batch/helpers/parser/__pycache__/
batch/__pycache__/
api/test.php
Kainchi_Workspace.code-workspace
.DS_Store
.env
!.env.example
.idea
**/.terraform/
terraform/plan.tfplan
